<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="username" value="mlisten9"/>
		<add key="password" value="marshallmathers"/>
		<add key="gmail" value="https://gmail.com"/>
		<add key="stackOverflow" value="https://stackoverflow.com/users/login"/>
	</appSettings>
</configuration>